<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde asperiores, dignissimos consectetur a alias,
        accusamus soluta quibusdam dolor, nihil dolorem repellat suscipit eligendi iusto magnam rem provident dolorum
        pariatur iste.</p>
    {{> footer}}
</body>

</html>